html {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), url('/fonts/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'), url('/fonts/Lato/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato'), url('/fonts/Lato/Lato-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato'), url('/fonts/Lato/Lato-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 250;
    src: local('Lato'), url('/fonts/Lato/Lato-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 250;
    src: local('Lato'), url('/fonts/Lato/Lato-Hairline.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 250;
    src: local('Lato'), url('/fonts/Lato/Lato-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 250;
    src: local('Lato'), url('/fonts/Lato/Lato-HairlineItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 275;
    src: local('Lato'), url('/fonts/Lato/Lato-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 275;
    src: local('Lato'), url('/fonts/Lato/Lato-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato'), url('/fonts/Lato/Lato-Light.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato'), url('/fonts/Lato/Lato-Light.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato'), url('/fonts/Lato/Lato-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato'), url('/fonts/Lato/Lato-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: local('Lato'), url('/fonts/Lato/Lato-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 500;
    src: local('Lato'), url('/fonts/Lato/Lato-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: local('Lato'), url('/fonts/Lato/Lato-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    src: local('Lato'), url('/fonts/Lato/Lato-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato'), url('/fonts/Lato/Lato-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato'), url('/fonts/Lato/Lato-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato'), url('/fonts/Lato/Lato-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato'), url('/fonts/Lato/Lato-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    src: local('Lato'), url('/fonts/Lato/Lato-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 800;
    src: local('Lato'), url('/fonts/Lato/Lato-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato'), url('/fonts/Lato/Lato-Black.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato'), url('/fonts/Lato/Lato-Black.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: local('Lato'), url('/fonts/Lato/Lato-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: local('Lato'), url('/fonts/Lato/Lato-BlackItalic.woff') format('woff');
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}