{% extends "admin/collection/change_form_map_dna_base.html" %}
{% load static %}

{% block map_dna_extra_object_tools_before %}
  <li>
    <a href="/collection/wormstrain/?q-l=on&q=allele.id+%3D+{{original.pk}}">Strains</a>
  </li>
{% endblock %}

{% block map_dna_document_ready_inline %}
  const freeTextFieldIds = [['lab_identifier', true]];
{% endblock %}

{% block map_dna_document_ready_post_scripts %}
  <script type="text/javascript" src="{% static 'admin/js/admin/choice_with_freetext_field.js' %}"></script>
{% endblock %}
