{% extends "admin/collection/change_list_map_dna_base.html" %}
{% load i18n admin_urls static admin_list %}

{% block map_dna_add_links %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}?&allele_type=t" class="addlink">
      {% blocktrans %}Add Transgene{% endblocktrans %}
    </a>
  </li>
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}?&allele_type=m" class="addlink">
      {% blocktrans %}Add Mutation{% endblocktrans %}
    </a>
  </li>
  {% endif %}
{% endblock %}